@import url(/style/general_style/_all-pages.css);
@import url(/style/general_style/_header.css);
@import url(/style/general_style/_main-info-bread.css);
@import url(/style/general_style/_card.css);
@import url(/style/general_style/_all-lessons.css);

/* Banner start */

.main-banner {
  position: relative;
  margin: 0 24px 24px 24px;
  padding-top: 113px;
  max-width: 1292px;
}

.main-banner img {
  width: 1292px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.banner-info-st {
  position: absolute;
  top: 125px;
  left: 12px;
}

.info-status {
  display: flex;
  align-items: center;
  gap: 12px;
}

.info-status p {
  font-size: 15px;
  font-weight: normal;
  color: #fff;
  background-color: rgba(20, 20, 21, 75%);
  padding: 12px;
  border-radius: 8px;
}

.banner-info-rt {
  position: absolute;
  top: 125px;
  left: 1150px;
}

.info-rating {
  display: flex;
  align-items: center;
  gap: 12px;
}

.info-rating p {
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: 15px;
  font-weight: normal;
  color: #fff;
  background-color: rgba(20, 20, 21, 75%);
  padding: 12px;
  border-radius: 8px;
}

.info-rating-1 p {
  color: #c1ef00;
}

.info-rating-2 p {
  color: #fa8f21;
}

.banner-btn {
  position: absolute;
  bottom: 26px;
  left: 12px;
}

.banner-btn a {
  font-size: 17px;
  font-weight: 500;
  color: #c1ef00;
  background-color: rgba(20, 20, 21, 75%);
  text-decoration: none;
  padding: 12px;
  border-radius: 8px;
}

/* Banner end */

/* General block start */

.general-block {
  margin: 0 24px 40px 24px;
  width: 1292px;
  display: flex;
  gap: 24px;
}

.lessons {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.lessons a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.lessons img {
  width: 126px;
}

.lesson-img-text {
  display: flex;
  gap: 16px;
}

.lesson-text {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.lesson-text-info h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

.lesson-text-info p {
  font-size: 17px;
  font-weight: 500;
  color: rgba(255, 255, 255, 35%);
}

.lesson-progress {
  font-size: 17px;
  font-weight: 500;
  color: rgba(255, 255, 255, 35%);
}

.general-info {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.info-of-lesson {
  width: 469px;
  padding: 20px;
  border-radius: 12px;
  background-color: #141415;
}

.info-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.info-title-text h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}

.info-title-text p {
  font-size: 15px;
  font-weight: 500;
  color: rgba(255, 255, 255, 35%);
}

.info-title-btn button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.info-title-btn path {
  stroke: #fff;
  color: #141415;
  transition: all 0.5s;
}

.info-title-btn button:hover path {
  color: #c1ef00;
  stroke: #c1ef00;
  stroke-opacity: 1;
}

.lesson-info h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 6px;
}

.lesson-info p {
  font-size: 15px;
  font-weight: 500;
  color: rgba(255, 255, 255, 35%);
}

.lesson-info span {
  color: #c1ef00;
}

.tab {
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #141415;
  padding: 5px;
  border-radius: 12px;
  width: 469px;
}

.tab a {
  padding: 8px;
  cursor: pointer;
  text-align: center;
  transition: border 0.5s, color 0.5s;
  box-sizing: border-box;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.bt-1 {
  width: 147px;
  height: 47px;
}

.bt-2 {
  width: 147px;
  height: 47px;
}

.bt-3 {
  width: 147px;
  height: 47px;
}

.tab a:hover {
  border: 2px solid #c1ef00;
  color: #c1ef00;
  border-radius: 8px;
  padding: 6px;
}

.tab a.actives {
  background-color: #c1ef00;
  color: #141415;
  border-radius: 8px;
}

.tabcontent {
  display: none;
}

.progress-of-lesson {
  background-color: #141415;
  padding: 20px;
  border-radius: 12px;
}

.progress-of-lesson h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.progress-lek {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  background-color: #1c1c1d;
  border-radius: 10px;
  margin-bottom: 8px;
}

.progress-lesson-info h4 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 4px;
}

.progress-lesson-info p {
  font-size: 15px;
  font-weight: normal;
  color: rgba(255, 255, 255, 35%);
}

.progress-audio {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  background-color: #1c1c1d;
  border-radius: 10px;
  margin-bottom: 8px;
}

.progress-video {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  background-color: #1c1c1d;
  border-radius: 10px;
  margin-bottom: 8px;
}

.progress-ekz {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  background-color: #1c1c1d;
  border-radius: 10px;
}

.mobile {
  display: none;
}

@media (max-width: 480px) {
  /* Banner start */

  .main-banner {
    position: relative;
    margin: 0 16px 16px 16px;
    padding-top: 68px;
    max-width: 100%;
    border-radius: 8px;
  }

  .main-banner img {
    height: 200px;
    width: 100%;
    border-radius: 8px;
  }

  .banner-info-st {
    position: absolute;
    top: 76px;
    left: 8px;
  }

  .info-status {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .info-status p {
    font-size: 11px;
    font-weight: normal;
    color: #fff;
    background-color: rgba(20, 20, 21, 75%);
    padding: 12px;
    border-radius: 8px;
  }

  .banner-info-rt {
    position: absolute;
    top: 76px;
    left: 205px;
  }

  .info-rating {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .info-rating p {
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 11px;
    font-weight: normal;
    color: #fff;
    background-color: rgba(20, 20, 21, 75%);
    padding: 12px;
    border-radius: 8px;
  }

  .info-rating-1 p {
    color: #c1ef00;
  }

  .info-rating-2 p {
    color: #fa8f21;
  }

  .banner-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .banner-btn a {
    font-size: 17px;
    font-weight: 500;
    color: #c1ef00;
    background-color: rgba(20, 20, 21, 75%);
    text-decoration: none;
    padding: 10px 90px;
    border-radius: 8px;
  }

  /* Banner end */

  /* General block start */

  .general-block {
    margin: 0 0 24px 0;
    max-width: 100%;
    display: block;
    padding: 0 16px;
  }

  .lessons {
    display: flex;
    flex-flow: column;
    gap: 8px;
  }

  .lessons a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }

  .lessons img {
    width: 66px;
    height: 66px;
  }

  .lesson-img-text {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  .lesson-text {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .lesson-text-info h2 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .lesson-text-info p {
    font-size: 13px;
    font-weight: 500;
    color: rgba(255, 255, 255, 35%);
  }

  .lesson-progress {
    font-size: 11px;
    font-weight: normal;
    color: rgba(255, 255, 255, 35%);
  }

  .lessons svg {
    width: 24px;
  }

  .general-info {
    margin: 0 16px 16px 16px;
    display: flex;
    flex-flow: column;
    gap: 8px;
  }

  .info-of-lesson {
    width: 100%;
    padding: 0;
    border-radius: 12px;
    background-color: transparent;
    margin-bottom: 16px;
  }

  .info-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .info-title-text h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .info-title-text p {
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 35%);
  }

  .info-title-btn button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .info-title-btn path {
    stroke: #fff;
    color: #141415;
    transition: all 0.5s;
  }

  .info-title-btn button:hover path {
    color: #c1ef00;
    stroke: #c1ef00;
    stroke-opacity: 1;
  }

  .lesson-info h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
  }

  .lesson-info p {
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 35%);
  }

  .lesson-info span {
    color: #c1ef00;
  }

  .tab {
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #141415;
    padding: 5px;
    border-radius: 8px;
    width: 100%;
  }

  .tab a {
    padding: 8px;
    cursor: pointer;
    text-align: center;
    transition: border 0.5s, color 0.5s;
    box-sizing: border-box;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  }

  .bt-1 {
    width: 125px;
    height: 40px;
  }

  .bt-2 {
    width: 125px;
    height: 40px;
  }

  .bt-3 {
    width: 125px;
    height: 40px;
  }

  .tab a:hover {
    border: none;
    color: none;
    border-radius: none;
    padding: none;
  }

  .tab a.actives {
    background-color: #c1ef00;
    color: #141415;
    border-radius: 6px;
  }

  .tabcontent {
    display: none;
  }

  .progress-of-lesson {
    background-color: #141415;
    padding: 20px;
    border-radius: 12px;
  }

  .progress-of-lesson h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .progress-lek {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    background-color: #1c1c1d;
    border-radius: 10px;
    margin-bottom: 8px;
  }

  .progress-lesson-info h4 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .progress-lesson-info p {
    font-size: 15px;
    font-weight: normal;
    color: rgba(255, 255, 255, 35%);
  }

  .progress-audio {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    background-color: #1c1c1d;
    border-radius: 10px;
    margin-bottom: 8px;
  }

  .progress-video {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    background-color: #1c1c1d;
    border-radius: 10px;
    margin-bottom: 8px;
  }

  .progress-ekz {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    background-color: #1c1c1d;
    border-radius: 10px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
