@import url(/style/general_style/_all-pages.css);
@import url(/style/general_style/_header.css);
@import url(/style/general_style/_main-info-bread.css);
@import url(/style/general_style/_card.css);

.general-block {
  margin-top: 119px;
  width: 1340px;
}

.block-container {
  margin: auto;
  width: 800px;
}

.general-progress-bar {
  position: fixed;
  width: 800px;
  background-color: #141415;
  border-radius: 1000px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
  z-index: 1000;
}

.general-progress-bar progress {
  width: 400px;
  height: 10px;
  background-color: rgba(255, 255, 255, 35%);
  border-radius: 1000px;
  transition: width 0.5s; /* Плавное изменение ширины */
}

progress {
  width: 100%;
  appearance: none; /* Отмена стандартного вида */
}

progress::-webkit-progress-bar {
  border-radius: 1000px;
}

progress::-webkit-progress-value {
  background: #c1ef00;
  border-radius: 1000px;
}

progress::-moz-progress-bar {
  border-radius: 1000px;
}

.general-progress-bar h2 {
  font-size: 15px;
  font-weight: 500;
}

.general-content {
  padding-top: 99px;
}

.start-lek {
  margin-bottom: 50px;
}

.general-content h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
  color: rgba(255, 255, 255, 100%);
}

.general-content li {
  font-size: 17px;
  font-weight: 500;
  color: rgba(255, 255, 255, 80%);
  margin-left: 20px;
  margin-bottom: 16px;
}

.general-content li:last-child {
  margin-bottom: 8px;
}

.start-lek-1 {
  margin-bottom: 24px;
}

.start-lek-1 p {
  text-indent: 20px;
  margin-bottom: 8px;
  line-height: 140%;
  color: rgba(255, 255, 255, 80%);
}

.start-lek-2 p {
  text-indent: 20px;
  margin-bottom: 8px;
  line-height: 140%;
  color: rgba(255, 255, 255, 80%);
}

.lek-text p {
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
  color: rgba(255, 255, 255, 80%);
  text-indent: 20px;
  margin-bottom: 8px;
}

.start-lek p:last-child {
  margin-bottom: 0;
}

.lek-text-1 {
  margin-bottom: 50px;
}

.quiz {
  margin: 0 40px 56px 40px;
  background-color: #141415;
  padding: 24px;
  border-radius: 12px;
}

.quiz-title {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}

.quiz-title img {
  width: 100px;
}

.quiz-title-info p {
  font-size: 15px;
  font-weight: normal;
  color: rgba(255, 255, 255, 35%);
  margin-bottom: 12px;
  text-indent: 0;
}

.quiz-title-info h3 {
  font-size: 24px;
  font-weight: 500;
  color: rgba(255, 255, 255, 100%);
}

.quiz-info p {
  font-size: 17px;
  font-weight: 500;
  color: rgba(255, 255, 255, 100%);
  margin-bottom: 32px;
  text-indent: 0;
}

.quiz-option {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.no-margin {
  margin: 0;
}

.quiz-form input[type="radio"] {
  appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid rgba(255, 255, 255, 80%);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.quiz-form input[type="radio"].correct {
  border-color: transparent;
}

.quiz-form input[type="radio"].incorrect {
  border-color: transparent;
}

.quiz-form input[type="radio"].correct::before {
  content: url("/images/icons/check.svg"); /* Замените ссылку при необходимости */
  position: absolute;
  top: -2px;
  left: -2px;
  width: 24px;
  height: 24px;
}

.quiz-form input[type="radio"].incorrect::before {
  content: url("/images/icons/error.svg"); /* Замените ссылку при необходимости */
  position: absolute;
  top: -2px;
  left: -2px;
  width: 24px;
  height: 24px;
}

.quiz-option label {
  font-size: 15px;
  font-weight: normal;
  color: rgba(255, 255, 255, 100%);
  cursor: pointer;
}

.quiz-form {
  margin-bottom: 12px;
}

.quiz-result {
  display: none;
  padding: 12px;
  background-color: #c1ef00;
  color: #141415;
  border-radius: 8px;
  font-size: 15px;
  font-weight: normal;
}

.quiz-incorrect {
  display: none;
  padding: 12px;
  background-color: #ff5045;
  color: #fff;
  border-radius: 8px;
  font-size: 15px;
  font-weight: normal;
}

.lek-text-2 {
  margin-bottom: 32px;
}

.lek-img {
  margin-bottom: 32px;
}

.lek-img img {
  width: 413px;
  margin: 0 193px;
  border-radius: 12px;
}

.lek-text-3 {
  margin-bottom: 50px;
}

.lek-text-3-ul {
  margin-top: 16px;
}

.lek-text-4,
.lek-text-5,
.lek-text-6,
.lek-text-7,
.lek-text-8 {
  margin-bottom: 40px;
}

.has-results {
  padding: 0;
}

.lek-btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

.lek-btn-1 a {
  color: rgba(255, 255, 255, 80%);
  text-decoration: none;
  padding: 16px 32px;
  border: 2px solid rgba(255, 255, 255, 80%);
  border-radius: 12px;
}

.lek-btn-2 a {
  color: #c1ef00;
  text-decoration: none;
  padding: 16px 32px;
  border: 2px solid #c1ef00;
  border-radius: 12px;
  transition: all 0.5s;
}

.lek-btn-2 a:hover {
  background-color: #c1ef00;
  color: #141415;
}

.no-ident p {
  text-indent: 0;
}

.no-ident span {
   color: rgba(255, 255, 255, 100%);
}

@media (max-width: 480px) {
  .general-block {
    margin: 0;
    padding-top: 62px;
    width: 100%;
  }

  .block-container {
    padding: 0 16px;
    width: 100%;
  }

  .general-progress-bar {
    position: sticky;
    top: 55px;
    max-width: 100%;
    background-color: #141415;
    border-radius: 1000px;
    padding: 15px 10px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    z-index: 1000;
  }

  .general-progress-bar progress {
    width: 200px;
    height: 10px;
    background-color: rgba(255, 255, 255, 35%);
    border-radius: 1000px;
    transition: width 0.5s; /* Плавное изменение ширины */
  }

  progress {
    width: 100%;
    appearance: none; /* Отмена стандартного вида */
  }

  progress::-webkit-progress-bar {
    border-radius: 1000px;
  }

  progress::-webkit-progress-value {
    background: #c1ef00;
    border-radius: 1000px;
  }

  progress::-moz-progress-bar {
    border-radius: 1000px;
  }

  .general-progress-bar h2 {
    font-size: 13px;
    font-weight: 500;
  }

  .general-content {
    padding-top: 16px;
  }

  .start-lek {
    margin-bottom: 24px;
  }

  .general-content h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 12px;
    color: rgba(255, 255, 255, 100%);
  }

  .general-content li {
    font-size: 17px;
    font-weight: 500;
    color: rgba(255, 255, 255, 35%);
    margin-left: 20px;
    margin-bottom: 8px;
  }

  .general-content li:last-child {
    margin-bottom: 0;
  }

  .start-lek-1 {
    margin-bottom: 16px;
  }

   .start-lek-1 p {
    font-size: 17px;
    font-weight: 500;
    color: rgba(255, 255, 255, 35%);
    margin-bottom: 8px;
  }

  .start-lek-2 p {
    font-size: 17px;
    font-weight: 500;
    color: rgba(255, 255, 255, 35%);
    margin-bottom: 8px;
  }

  .lek-text p {
    font-size: 17px;
    font-weight: 500;
    color: rgba(255, 255, 255, 35%);
    margin-bottom: 8px;
  }

  .start-lek p:last-child {
    margin-bottom: 0;
  }

  .lek-text-1 {
    margin-bottom: 24px;
  }

  .quiz {
    margin: 0 0 40px 0;
    background-color: #141415;
    padding: 12px;
    border-radius: 12px;
  }

  .quiz-title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
  }

  .quiz-title img {
    width: 50px;
  }

  .quiz-title-info p {
    font-size: 11px;
    font-weight: normal;
    color: rgba(255, 255, 255, 35%);
    margin-bottom: 6px;
  }

  .quiz-title-info h3 {
    font-size: 17px;
    font-weight: 500;
    color: rgba(255, 255, 255, 100%);
  }

  .quiz-info p {
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 100%);
    margin-bottom: 16px;
  }

  .quiz-option {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
  }

  .no-margin {
    margin: 0;
  }

  .quiz-form input[type="radio"] {
    appearance: none;
    width: 22px;
    height: 22px;
    border: 2px solid rgba(255, 255, 255, 80%);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
  }

  .quiz-form input[type="radio"].correct {
    border-color: transparent;
  }

  .quiz-form input[type="radio"].incorrect {
    border-color: transparent;
  }

  .quiz-form input[type="radio"].correct::before {
    content: url("/images/icons/check.svg"); /* Замените ссылку при необходимости */
    position: absolute;
    top: -2px;
    left: -2px;
    width: 24px;
    height: 24px;
  }

  .quiz-form input[type="radio"].incorrect::before {
    content: url("/images/icons/error.svg"); /* Замените ссылку при необходимости */
    position: absolute;
    top: -2px;
    left: -2px;
    width: 24px;
    height: 24px;
  }

  .quiz-option label {
    font-size: 15px;
    font-weight: normal;
    color: rgba(255, 255, 255, 100%);
  }

  .quiz-form {
    margin-bottom: 12px;
  }

  .quiz-result {
    display: none;
    padding: 12px;
    background-color: #c1ef00;
    color: #141415;
    border-radius: 8px;
    font-size: 13px;
    font-weight: normal;
  }

  .quiz-incorrect {
    display: none;
    padding: 12px;
    background-color: #ff5045;
    color: #fff;
    border-radius: 8px;
    font-size: 13px;
    font-weight: normal;
  }

  .lek-btns {
  display: flex;
  flex-flow: column;
  gap: 44px 0;
  margin-bottom: 92px;
}

.lek-btn-1 a {
  font-size: 15px;
  color: rgba(255, 255, 255, 80%);
  text-decoration: none;
  padding: 12px 32px;
  border: 2px solid rgba(255, 255, 255, 80%);
  border-radius: 12px;
}

.lek-btn-2 a {
  font-size: 15px;
  color: #c1ef00;
  text-decoration: none;
  padding: 12px 32px;
  border: 2px solid #c1ef00;
  border-radius: 12px;
  transition: all 0.5s;
}

.lek-btn-2 {
  order: -1;
}

  .lek-text-2 {
    margin-bottom: 32px;
  }

  .lek-img {
    margin-bottom: 32px;
  }

  .lek-img img {
    width: 90vw;
    margin: auto;
  }

  .lek-text-3 {
    margin-bottom: 24px;
  }

  .lek-text-4 {
    margin-bottom: 24px;
  }

  .has-results {
    padding: 0;
  }
}
